/* Roboto web font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;900');

/** Material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  font-family: 'Roboto', sans-serif;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Roboto', sans-serif;
  }
}

:root {
  /* colors */
  --be-color-brand-primary: #0034d6;
  --be-color-brand-secondary: #1498fa;
  --be-color-text-dark-primary: #000;
  --be-color-text-dark-secondary: #414141;
  --be-color-text-dark-tertiary: #747474;
  --be-color-text-dark-quaternary: #a2a2a2;
  --be-color-text-dark-inactive: #dcdcdc;
  --be-color-text-light: #fff;
  --be-color-bg-light-primary: #fff;
  --be-color-bg-light-secondary: #ececec;
  --be-color-bg-dark: #192742;
  --be-color-ui-primary: #fff;
  --be-color-ui-secondary: #cfcfdb;
  --be-color-ui-tertiary: #e6e6f1;
  --be-color-ui-inactive: #d4d4d4;
  --be-color-ui-dark: #414141;
  --be-color-ui-dark-secondary: #747474;
  --be-color-ui-dark-tertiary: #efefef;
  --be-color-ui-dark-highlight: #eef5fe;
  --be-color-ui-comple-primary: #ffeda8;
  --be-color-ui-comple-secondary: #0c6139;
  --be-color-ui-comple-tertiary: #fccae2;
  --be-color-ui-comple-quaternary: #d0dde8;
  --be-color-feedback-error: #d40d12;

  /* others */
  --be-color-black: #000;
  --be-color-white: #fff;
  --be-color-ice: #f4f4f4;

  /* spacings */
  --be-spacing-squish-s: 4px 8px;
  --be-spacing-squish-m: 8px 12px;
  --be-spacing-squish-l: 12px 16px;
  --be-spacing-squish-xl: 12px 24px;
  --be-spacing-xxs: 4px;
  --be-spacing-s: 8px;
  --be-spacing-sm: 12px;
  --be-spacing-m: 16px;
  --be-spacing-l: 24px;
  --be-spacing-xl: 32px;
  --be-spacing-xxl: 64px;

  /* outside shadow */
  --be-shadow-raised: 0 1px 6px rgba(0, 0, 0, 0.2);
  --be-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.2);
  --be-shadow-spotlight: 0 6px 12px rgba(0, 0, 0, 0.25);
  --be-shadow-modal: 0 14px 20px rgba(0, 0, 0, 0.3);

  /* general sizes */
  --be-size-field-height: 48px;
  --be-size-button-height: 48px;
  --be-size-slider-range-height: 48px;
  --be-size-slider-tracker-size: 19px;
  --be-size-select-option-height: 52px;

  /* layout columns container */
  --be-size-container-5-columns: 521px;
  --be-size-container-6-columns: 630px;
  --be-size-container-8-columns: 848px;
  --be-size-container-10-columns: 1066px;
  --be-size-container-12-columns: 1283px;

  /* icon sizes */
  --be-size-icon-xs: 16px;
  --be-size-icon-s: 20px;
  --be-size-icon-m: 24px;
  --be-size-icon-l: 32px;
  --be-size-icon-xl: 40px;

  /* fonts */
  --be-font-family: roboto, -apple-system, blinkmacsystemfont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', helvetica, arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* font size */
  --be-font-size-xxs: 11px;
  --be-font-size-xs: 12px;
  --be-font-size-s: 14px;
  --be-font-size-m: 16px;
  --be-font-size-l: 18px;
  --be-font-size-xl: 24px;
  --be-font-size-xxl: 32px;
  --be-font-size-xxxl: 64px;

  /* font weight */
  --be-font-weight-regular: 400;
  --be-font-weight-medium: 500;
  --be-font-weight-semibold: 600;
  --be-font-weight-bold: 700;
  --be-font-weight-semiblack: 800;
  --be-font-weight-black: 900;

  /* line height */
  --be-line-height-120: 120%;
  --be-line-height-150: 150%;

  /* font style */
  --be-font-field-support: var(--be-font-weight-regular) var(--be-font-size-xs)
    var(--be-font-family);
  --be-font-field-input: var(--be-font-weight-regular) var(--be-font-size-m) var(--be-font-family);
  --be-font-field-label: var(--be-font-weight-bold) var(--be-font-size-s) var(--be-font-family);
  --be-font-list-label: var(--be-font-weight-medium) var(--be-font-size-s) var(--be-font-family);

  /* border radius */
  --be-border-radius-s: 4px;
  --be-border-radius-m: 8px;
  --be-border-radius-l: 12px;
  --be-border-radius-xl: 16px;
  --be-border-radius-pill: 500px;
  --be-border-radius-circle: 50%;

  /* depths */
  --be-depth-base: 1;
  --be-depth-button-label: 2;
}
